@import 'src/styles/variables.scss';
@import 'src/styles/course-info.scss';

$gray-border-left: 2px solid rgba(0, 0, 0, .1);

.course-info-container {
  @extend %course-info-container;
  .course-info {
    .course-info-description {
      flex: 11;
      h3 {
        margin-bottom: 2vh;
      }
    }
    ul {
      flex: 9;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-left: $gray-border-left;
      padding-left: 2vh;
      li span {
        font-weight: bold;
      }
    }
  }
}