@import 'src/styles/variables.scss';

.input {
    input {
        font-size: $main-font-size;
        width: 40vh;
        border-radius: $border-radius;
        height: 6vh;
        border: 2px solid rgba(128, 128, 128, 0.4);
        text-indent: 2vh;
    }
}