@import 'src/styles/variables.scss';

.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh - 10vh - $header-height;
  * {
    margin: 1.5vh;
  }
  button {
    width: fit-content;
  }
}